<!DOCTYPE html>
<html ng-app="loan">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/Site.css">

    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/loan.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <title>{{"Loan Management"}}</title>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Main</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="weather.html">Weather</a></li>
                <li class="active"><a href="#">Loan Management</a></li>

            </ul>
        </div>
    </div>
</nav>

<div id="wrap">
    <div class="container">
    <header>
        <div class="page-header">
            <h1>Loan Management Tool</h1>
        </div>
    </header>

    <div ng-controller="ClientCtrl" class="container row">
        <div class="col-sm-6">
        <h2 class="text-primary">Clients</h2>
            <div ng-repeat="clie in client"  class="well well-sm">
                    <p>{{$index}}</p>
                    <p> Name: {{clie.name}}</p>
                    <p>Age: {{clie.age}}</p>
                    <p>Amount: ${{clie.amount}}</p>
                     <button type="button" class="btn btn-danger"  ng-click="DeleteArray($index)">Delete</button>

                    </br>
                    </br>
            </div>

        </div>
        <div class="col-sm-2"></div>
        <form class="form-horizontal col-sm-4" role="form">
            <div class="form-group">


                <h2 class="text-primary">Add New Client</h2>
                <label class="cols-sm-2 control-label">Name:</label>
                <input type="text" placeholder="Type your name" class="form-control" ng-model="NewName"/>



                <label class="cols-sm-2 control-label">Age:</label>
                <input type="number" min="1" max="105" placeholder="Type your age" class="form-control" ng-model="NewAge"/>

                <label class="cols-sm-2 control-label">Amount: $</label>
                <input type="text" placeholder="Type your amount" class="form-control" ng-model="NewAmount"/>

                </br>
                <button type="button" class="btn btn-info " ng-click="AddArray()">Add</button>

            </div>

        </form>

        </div>
    </div>
    <div id="push"></div>
</div>
<footer id="footer">
    <div>
        <p>&copy; Developed with AngularJs and Twitter Bootstrap</p>
    </div>
</footer>

</body>
</html>