<div ng-controller="WeatherCtrl">



    <div class=form-group">
        <label class="cols-sm-2 control-label">Select the city:</label>
        <select ng-model="city" ng-change="selectCity()">

            <option ng-repeat="item in citiesArray" value="{{item}}">{{item}}</option>
        </select>


    </div>



    <p> The weather report for {{city}} would be:</p>
    <div class=form-group">
        <label class="cols-sm-2 control-label">Type the filter:</label>
        <input type="text" ng-model="searchArg" class="form-control" placeholder="Filter">
    </div>

    <div class="well" ng-repeat="items in weatherArray | filter:searchArg">
        <div class="row">
            <div class=" col-sm-6">
                <p class="textMain">
                    {{(items.dt+"000") | date:'EEEE, MMMM dd ,yyyy '}}

                </p>
                <p class="textMain">
                    {{ items.temp.day}}&deg;C
                </p>
            </div>
            <div class="col-sm-6 ">
                <img class="TodayImage" src="http://openweathermap.org/img/w/{{items.weather[0].icon}}.png">
            </div>

        </div>

        <div class="row">
            <div class="col-sm-3"></div>
            <table id="weatherTable" class="table table-bordered table-striped col-sm-5">
                <tr class="info">
                    <td>Description</td>
                    <td>{{items.weather[0].description}}</td>
                </tr>
                <tr class="info">
                    <td>Pressure</td>
                    <td>{{items.pressure}} hpa</td>
                </tr>
                <tr class="info">
                    <td>Humidity</td>
                    <td>{{items.humidity}} %</td>
                </tr>

            </table>
        </div>
    </div>


    <!--     <div class="well row">

              <div class="col-sm-1">
                  <img  class="TomorrowImage"src="images/{{weatherArray[1].weather[0].icon}}.png">
              </div>
             <div class="col-sm-8">
                 Tomorrow
             </div>
             <div class="col-sm-2">
                 {{ weatherArray[1].temp.day}}&deg;C
             </div>

         </div>
         <div id="push"></div>
     </div> -->

</div>